html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  max-width: 600px;

  margin: 0 auto;
  padding: 4%;

  border-left: 3px solid darkgray;
  border-right: 3px solid darkgray;
  background-color: #EEEEEE;
}

th, td {
  border: 1px solid gray;
  padding: 1em;

  background-color: black;
  color: white;
}

h1 {
  background-color: #76ABAE;
  color: #222831;
  text-align: center;
  border: 1px solid grey;
}

li {
  font-size: 1.5em;
}

p {
  font-size: 2em;  
} 

details {
  background-color: #76ABAE;

  border: 1px solid grey;
  padding: 1em; 

}

img {
  background-color: #76ABAE;

  margin: 1em;
  padding: 1em;
  border: 1px solid grey;
}

/* CSS lesson 1:
-> CSS, attributes and styling syntax
-> font size and border (h1, li, p)
-> margin and padding (details, img)
-> colors (details, img, table)
-> variables (all colors)
-> explain styling from the first lesson
-> Free time to change styling
*/