html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  max-width: 600px;

  margin: 0 auto;
  padding: 4%;

  border-left: 3px solid darkgray;
  border-right: 3px solid darkgray;
}

:root {
  --border-color: grey;
  --background-color: #76ABAE;
}

th,
td {
  border: 1px solid gray;
  padding: 1em;

  background-color: black;
  color: white;
}

li {
  font-size: 1.5em;
}

p {
  font-size: 2em;
}

h1 {
  border: 1px solid var(--border-color);
  text-align: center;
}

details summary,
details h4 {
  font-size: 1.25em;
}

details {
  margin: 2vw;
  padding: 2vw;
  border: 1px solid var(--border-color);

  background: var(--background-color);
}

img {
  margin: 3vw;
  padding: 3vw;
  border: 1px solid var(--border-color);

  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: darkgrey;
  transition: 0.2s;
}

a:hover {
  color: black;
  font-size: 1.3em;
  text-decoration: underline;
}