html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  max-width: 600px;

  margin: 0 auto;
  padding: 4%;

  border-left: 3px solid darkgray;
  border-right: 3px solid darkgray;
  background: lightpink;
}

th, td {
  border: 1px solid gray;
  padding: 1em;
}

li {
  font-size: 20px;
}

p {
  font-size: 30px;  
} 

details {
  background-color: whitesmoke;

  border: 1px solid black;
  padding: 5px; 

}

img {
  background-color: whitesmoke;

  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}